<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleDashboard/style.css"/>
    
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
      <div class="dashboard-container">
        <div class="exam-area">
          <span class="exam-label"> Kỳ thi </span>
          <div class="button" style="margin-left: 30px">Tạo kì thi</div>
          <div class="exam-list-card" id="exam-list-card"></div>
        </div>

        <div class="student-area">
          <div class="student-container">
            <div>
              <span style="font-size: 16px; font-weight: 600">Sinh viên</span>
            </div>
            <div
              class="button"
              style="margin-top: 20px"
              onclick="openCreateStudentPopup()"
            >
              Thêm sinh viên
            </div>
            <table class="student-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Họ và tên</th>
                  <th>Mã sinh viên</th>
                  <th>Mã lớp</th>
                  <th>Ngày sinh</th>
                </tr>
              </thead>
              <tbody id="student-list"></tbody>
            </table>
          </div>
        </div>

        <div class="statistic-area">
          <div class="statistic-container">
            <div>
              <span style="font-size: 16px; font-weight: 600">Thống kê</span>
            </div>

            <table class="statistic-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên kì thi</th>
                  <th>Số lượng người dùng tham gia</th>
                  <th>Tỷ lệ hoàn thành</th>
                  <th>Điểm trung bình</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Giữa kì môn lập trình web 2024</td>
                  <td>100</td>
                  <td>92%</td>
                  <td>7.8</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Giữa kì môn lập trình web 2024</td>
                  <td>100</td>
                  <td>92%</td>
                  <td>7.8</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Giữa kì môn lập trình web 2024</td>
                  <td>100</td>
                  <td>92%</td>
                  <td>7.8</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="popup" id="create-popup">
          <div class="popup-content">
            <h3>Thêm sinh viên</h3>
            <div class="create-student">
              <div class="input">
                <div><label for="studentName">Họ và tên</label></div>
                <input
                  type="text"
                  style="width: 300px"
                  id="createStudentName"
                />
              </div>
              <div class="input">
                <div><label for="studentMSV">Mã sinh viên</label></div>
                <input type="text" style="width: 300px" id="createStudentMsv" />
              </div>
              <div class="input">
                <div><label for="studentML">Mã lớp</label></div>
                <input type="text" style="width: 300px" id="createStudentMl" />
              </div>
              <div class="input">
                <div><label for="studentDOB">Ngày sinh</label></div>
                <input type="date" style="width: 300px" id="createStudentDOB" />
              </div>
            </div>
            <div class="popup-actión">
              <div
                class="button saveStudent"
                onclick="closeCreateStudentPopup()"
              >
                Hủy
              </div>
              <div class="button saveStudent" onclick="createStudent()">
                Lưu
              </div>
            </div>
          </div>
        </div>

        <div class="popup" id="edit-popup">
          <div class="popup-content">
            <h3>Thêm sinh viên</h3>
            <div class="create-student">
              <div class="input">
                <div><label for="studentName">Họ và tên</label></div>
                <input type="text" style="width: 300px" id="editStudentName" />
              </div>
              <div class="input">
                <div><label for="studentMSV">Mã sinh viên</label></div>
                <input type="text" style="width: 300px" id="editStudentMsv" />
              </div>
              <div class="input">
                <div><label for="studentML">Mã lớp</label></div>
                <input type="text" style="width: 300px" id="editStudentMl" />
              </div>
              <div class="input">
                <div><label for="studentDOB">Ngày sinh</label></div>
                <input type="date" style="width: 300px" id="editStudentDOB" />
              </div>
            </div>
            <div class="popup-actión">
              <div class="button saveStudent" onclick="closeEditStudentPopup()">
                Hủy
              </div>
              <div class="button saveStudent" id="delEditStudent">Xóa</div>
              <div class="button saveStudent" id="saveEditStudent">Lưu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // const dsKiThi = {
      //   1: {
      //     ten: "Giữa kì môn lập trình web 2024",
      //     soCauHoi: 30,
      //     ngayThi: "5-5-2023",
      //     trangThai: "Thời gian cố định",
      //   },
      //   2: {
      //     ten: "Giữa kì môn Triết học 2024",
      //     soCauHoi: 40,
      //     ngayThi: "7-6-2023",
      //     trangThai: "Thời gian cố định",
      //   },
      //   3: {
      //     ten: "Giữa kì môn Cơ sở dữ liệu phân tán",
      //     soCauHoi: 40,
      //     ngayThi: "15-6-2023",
      //     trangThai: "Thời gian cố định",
      //   },
      // };

      // const dsSinhVien = {
      //   1: {
      //     hoten: "Nguyễn Thị Hải",
      //     msv: "B21DCCN345",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "2003-12-19",
      //   },
      //   2: {
      //     hoten: "Trần Văn An",
      //     msv: "B21DCCN712",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1995-06-05",
      //   },
      //   3: {
      //     hoten: "Lê Thị Thu Hương",
      //     msv: "B21DCCN123",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "2000-09-10",
      //   },
      //   4: {
      //     hoten: "Phạm Minh Tuấn",
      //     msv: "B21DCCN567",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1998-03-22",
      //   },
      //   5: {
      //     hoten: "Hoàng Thị Lan Anh",
      //     msv: "B21DCCN234",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "2001-08-15",
      //   },
      //   6: {
      //     hoten: "Võ Ngọc Duy",
      //     msv: "B21DCCN890",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1993-11-03",
      //   },
      //   7: {
      //     hoten: "Mai Văn Hòa",
      //     msv: "B21DCCN456",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "2002-02-14",
      //   },
      //   8: {
      //     hoten: "Đỗ Thị Kim Chi",
      //     msv: "B21DCCN789",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1996-07-28",
      //   },
      //   9: {
      //     hoten: "Nguyễn Minh Quân",
      //     msv: "B21DCCN321",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1997-04-09",
      //   },
      //   10: {
      //     hoten: "Trần Thị Quỳnh Trang",
      //     msv: "B21DCCN654",
      //     ml: "D21CQCN02-B",
      //     ngaysinh: "1999-01-12",
      //   },
      // };
      const dsKiThi = JSON.parse('<%-JSON.stringify(dsKiThi)%>');
      const dsSinhVien = JSON.parse('<%-JSON.stringify(dsSinhVien)%>');
    

      function normalizeDate(date) {
        let dateParts = date.split("-");

        dateParts.reverse();

        let reversedDate = dateParts.join("/");

        return reversedDate;
      }

      function loadPage() {
        const exam_area = document.getElementById("exam-list-card");
        const student_area = document.getElementById("student-list");

        exam_area.innerHTML = "";
        student_area.innerHTML = "";
        Object.keys(dsKiThi).forEach((kiThiID) => {
          const kiThi = dsKiThi[kiThiID];

          const examCard = `
              <div class="exam-card">
                  <div class="exam-card-container">
                  <div style="font-size: 16px; font-weight: 600; height: 30px"
                      >${kiThi["ten"]}</div
                  >
                  <div class="exam-card-content">
                      <div><span>- Số câu hỏi: ${kiThi["soCauHoi"]}</span></div>
                      <div><span>- Ngày thi: ${kiThi["ngayThi"]}</span></div>
                      <div><span>- Trạng thái: ${kiThi["trangThai"]}</span></div>
                  </div>
                  </div>
              </div>`;
          exam_area.innerHTML += examCard;
        });

        Object.keys(dsSinhVien).forEach((sinhVienID) => {
          const sv = dsSinhVien[sinhVienID];

          const studentRow = `
              <tr onclick="openEditStudentPopup(${sinhVienID})">
                  <td>${sinhVienID}</td>
                  <td>${sv["hoten"]}</td>
                  <td>${sv["msv"]}</td>
                  <td>${sv["ml"]}</td>
                  <td>${normalizeDate(sv["ngaysinh"])}</td>
              </tr>`;
          student_area.innerHTML += studentRow;
        });
      }

      function closeCreateStudentPopup() {
        document.getElementById("create-popup").style.visibility = "hidden";
      }

      function openCreateStudentPopup() {
        document.getElementById("create-popup").style.visibility = "visible";
      }

      function closeEditStudentPopup() {
        document.getElementById("edit-popup").style.visibility = "hidden";
      }

      function openEditStudentPopup(studentId) {
        document.getElementById("edit-popup").style.visibility = "visible";
        const student = dsSinhVien[studentId];
        document.getElementById("editStudentName").value = student["hoten"];
        document.getElementById("editStudentMsv").value = student["msv"];
        document.getElementById("editStudentMl").value = student["ml"];
        document.getElementById("editStudentDOB").value = student["ngaysinh"];
        document.getElementById("saveEditStudent").onclick = function () {
          editStudent(studentId);
        };

        document.getElementById("delEditStudent").onclick = function () {
          delStudent(studentId);
        };
      }

      function createStudent() {
        const hoTen = document.getElementById("createStudentName").value;
        const msv = document.getElementById("createStudentMsv").value;
        const ml = document.getElementById("createStudentMl").value;
        const ngaySinh = document.getElementById("createStudentDOB").value;

        dsSinhVien[Object.keys(dsSinhVien).length + 1] = {
          hoten: hoTen,
          msv: msv,
          ml: ml,
          ngaysinh: normalizeDate(ngaySinh),
        };
        closeCreateStudentPopup();
        loadPage();
      }

      function editStudent(studentId) {
        const hoTen = document.getElementById("editStudentName").value;
        const msv = document.getElementById("editStudentMsv").value;
        const ml = document.getElementById("editStudentMl").value;
        const ngaySinh = document.getElementById("editStudentDOB").value;

        dsSinhVien[studentId] = {
          hoten: hoTen,
          msv: msv,
          ml: ml,
          ngaysinh: normalizeDate(ngaySinh),
        };
        closeEditStudentPopup();
        loadPage();
      }

      function delStudent(studentId) {
        delete dsSinhVien[studentId];
        closeEditStudentPopup();
        loadPage();
      }

      loadPage();

    </script>
  </body>
</html>
