<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styleDashboard/style.css"/>
    <%- include("../patials/head"); %>
</head>
<body>
    <%- include('../patials/headerAdmin'); %>
    <main>
        <div class="container_index">
            <div class="main_content">
                Hello Admin <% if (name) { %>
                    <%= name %>
                <% } else { %>
                    there
                <% } %>
                <a href="/thongke">Thong ke</a>
                <a href="/detailsResult">Chi tiet</a>

            </div>
        </div>
    </main>
    
</body>

</html>