.container_index{
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    color: var(--text-color);
}

.main_content{
}

.examList{
    color: black    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.filter{
    input{
        height: 30px;
        border-radius: 20px;
        width: 500px;
    }

}

.examList ul li .test_open{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.test_open a:hover{
    text-decoration:  underline;
    background-color: azure;
}

.examList ul li .test_close{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    a{
        color: rgb(190, 190, 190);
    }
}

.test_close a:hover{
    background-color: rgba(190, 190, 190, 0.548);
    cursor:  default;
}
